.commonLayout {
    background-color: inherit;
}

.commonHeaderLayout {
    height: auto;
    margin: 0;
    padding: 0;
    background-color: inherit;
}

.commonContentLayout {
    height: auto;
    margin: 20px;
    padding: 20px;
}

.commonContentComponentLayout {
    margin-bottom: 20px;
}

.commonContainer {
    margin-top: 64px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commonForm {
    margin-top: 24px;
    width: 100%;
}

.commonFormItem {
    margin-top: 8px;
}

.commonGridComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.commonHeader {
    border-bottom: 1px solid rgb(235, 237, 240);
    background-color: white;
}

.ant-dropdown-menu-item a {
    margin: 0;
    padding: 0;
}