.trucksHeader {
    padding: 24px 24px 8px;
    background-color: #F5F5F5;
}

.orderInfo1 {
    margin: 5px;
    padding: 5px;
    display: block;
}

.orderInfo2 {
    margin: 10px;
    padding: 5px;
    display: block;
}

.orderDetailCard {
    margin: 0 5px 0;
    display: inline-block;
    height: 304px;
    width: 171px;
}

.doneCookingBtn {
    margin: 14px 0 0;
}