#search-truck {
    text-align: center;
    width: 100%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    /*border: 3px solid darkgreen;*/
    background: lightgray;
}


#searchField {
    margin: auto;
}

#inputField {
    margin-top: 10px;
    font-size: 20px;
    border: 1px solid black;
}

.buttons {
    margin-top: 10px;
    font-size: 20px;
    background: wheat;
    border: 1px solid black;
}

.truck-info {
    box-sizing: border-box;
    width: 33%;
    border: 1px solid black;
    display: inline-block;
    margin-left: 4px;
    margin-top: 2px;
    padding: 1%;
}


.truck-img {
    /*border: 2px solid chocolate;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.truck-description {
    text-align: center;
}