html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}

body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#web-header {
  height: 80px;
}

#header-title {
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
}

#header-username {
  float: right;
  padding-right: 50px;
  padding-top: 30px;
}

.truck-header {
  height: 120px;
  background-color: #ebebeb;
}

.truck-name {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.truck-header p {
  display: inline;
}

.truck-rate {
  padding-left: 20px;
  margin-top: 100px;
}

.rate-star {
  height: 13px;
  position: relative;
  bottom: 2px;
}

.truck-location,
.serve-time,
.truck-type {
  float: right;
  padding-right: 20px;
  padding-left: 20px;
}
